
body{
    margin: 1em;
    padding: 0;

    min-height: 100vh;
    min-width: 95vw;

    display: flex;
    justify-content: center;
    align-items: center;   
}

.colc {
    display: flex;
    justify-content: center;
}

#central{
    border-radius: 1em;
    background-color: #FFCDB2;
}