
body{
    margin: 1em;
    padding: 0;

    min-height: 100vh;
    min-width: 95vw;

    display: flex;
    justify-content: center;
    align-items: center;  
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.colc {
    display: flex;
    justify-content: center;
    align-items: center; 

    margin: 0.5em;
}

.colBottom {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.central{
    border-radius: 1em;
    background-color: #FFCDB2;
    margin: 0.5em;

}

.menu{
    border-radius: 1em;
    background-color: #FFCDB2;
    margin: 0.5em;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}


.navigation {
    transition: 0.8s;
}

.navigation:hover{
    background-color: #E5989B;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
}

.down {
    background-color: #FFCDB2;

    height: 3em;
    
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;  

}

.icon {
    width: 2em;
    height: 2em;
    
}


.copyright {
    color: rgb(110, 110, 110);
    text-decoration:underline
    
}

.link {
    color: rgb(110, 110, 110);
    text-decoration:none
}

.cardMenu{
    min-height: 15em;
}